[submodule ".config/OtsuNvim"]
	path = .config/OtsuNvim
	url = https://github.com/satanx016/OtsuNvim.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/satanx016/OtsuNvim.git
