$foreground: #c0c3c7;
$foreground-alt: #555062;
$foreground-accented: #B55E74;
$background-darker: #131313;
$background: #131313;
$background-alt: #1E1C1D;
$background-accented: #2b2728;

$focused: #CB4769;
$unfocused: #641B2E;
